@model IEnumerable<DB.Model.PersData>
@{
    ViewBag.Title = "Дитальная информация";
    var Index = 1;
}
<style>
    .container {
        width: 90% !important;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<div class="container text-center">
    <h3 class="text-center">Лицевой счет 777777777 № судебного приказа 54678946</h3>
    <input type="button" value="Сохранить" class="btn btn-success hidden  Save" />
    <input type="button" name="" value="Редактировать" class="btn btn-success Edit" />
    <input type="button" value="Отмена" class="btn btn-primary hidden Cancellation" />
    <input sname="" type="button" value="Закрыть дело" class="btn btn-danger hidden Delete" />
    <input type="button" name="" class="btn btn-primary HistoryEdit" value="История изменения" data-toggle="modal" data-target="#HistoryEditModal" />
</div>
<div class="loader">
    <div class="inner one"></div>
    <div class="inner two"></div>
    <div class="inner three"></div>
</div>
<div class="card-body field">

    <div class="col-md-3">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">ФИО Гпх:</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start text-center">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Улица</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                    <h5 class="mb-1">Дом</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                    <h5 class="mb-1">Квартира</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">ФИО Собственника:</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Дата возбуждении Исполнительного Производства</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">ФИО ГПХ передачи в ССП</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Дата принятие заявления на суд. приказ Судубными участками</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Номер исполнительного производства</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Дата постановления об окончании ИД и возврат СП</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                </div>
            </a>
            <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Основание окончания ИП</h5>
                    <select disabled class="custom-select form-control GroundsForEndingIP">
                        <option selected><i class="fa fa-angle-double-right"></i>Выбирается из выпадающего списка</option>
                        <option value="1">п.3, п.4, ч.1 ст.46 – о невозможности взыскания по исполнительному документу </option>
                        <option value="2">п.1 ч.1 ст.47 - фактическое исполнение требований</option>
                        <option value="3">п.4 ч.1 ст.47 - возвращение исполнительного документа по требованию суда, другого органа или должностного лица, выдавших исполнительный документ</option>
                        <option value="3">п.7 ч.1 ст.47 - признание должника банкротом и направления исполнительного документа арбитражному управляющему</option>
                        <option value="3">п.10 ч.1 ст.47 - подача взыскателем заявления об окончании исполнительного производства </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">№ судебного приказа</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">№ судебного участка</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Дата СП</h5>
                    <small><input type="date" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" /></small>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">г/р</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Дата передачи судебного приказа в ФССП</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Период задолжности начальный</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Период задолжности конечный</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Общая сумма долга предъявленная в суд</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Дата оплаты основного долга</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Дата оплаты Гос. Пошлины</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Сумма Гос. Пошлины</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Сумма оплаты Гос. Пошлины</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Гос. Пошлина остаток задолжности</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Сумма оплаты предъявленная в суд (руб)</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Остаток задолжности</h5>
                    <small><input type="text" readonly="readonly" tabIndex="" id="INSTALLATIONDATE" class="form-control" value="77777777" /></small>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Примечание</h5>
                    <textarea style="height:150px;" class="form-control" ></textarea>
                </div>
            </a>
            <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1">Документы</h4>
                    <a href="/PersonalData/DownLoadFile?Id=63" target="_blank">Скачать Выписка.docx</a><br />
                    <a href="/PersonalData/DownLoadFile?Id=63" target="_blank">Скачать Выписка.docx</a><br />
                    <a href="/PersonalData/DownLoadFile?Id=63" target="_blank">Скачать Выписка.docx</a>
                   
                    <div class="form-group text-center" style="margin-top:20px">
                        <div class="col-sm-6">
                            <input name="FileLoad" class="form-control file" type="file" />
                        </div>
                        <div class="col-sm-6">
                            <input type="text" id="NameFile" list="NameFileTemplate" autocomplete="off" placeholder="Название файла" class="form-control NameFileFile" name="NameFile" value="" />
                            <datalist id="NameFileTemplate">
                                <option>Выписка</option>
                                <option>Договор</option>
                                <option>Заявление</option>
                                <option>Справка</option>
                                <option>Документ удостоверяющий личность</option>
                                <option>Документ на ИПУ</option>
                                <option>Прочие</option>
                            </datalist>
                        </div>
                        <input type="submit" class="btn btn-primary " value="Добавить" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<script>
    $(document).ready(function (e) {
        $("#NotificationResultTimer").addClass("hidden");
        $(".loader").addClass("hidden");
        $(".Edit").click(function (e) {
            $(this).parent().find('select').prop('disabled', false);
            $(this).parent().find('input').removeClass('hidden');
            $(this).addClass("hidden");
            $('.col-md-3').find(':input').each(function (i, input) {
                $(input).prop('readonly', false);
            });
            $(".GroundsForEndingIP").removeAttr("disabled");
            
        })
        $(".Cancellation").click(function (e) {
            window.location.reload();
        })
    });
</script>


