@model IEnumerable<DB.Model.Court.CourtDocumentScans>
@{var Documents = Model.OrderByDescending(x => x.DocumentDateUpload).ToList(); }
<table class="table">
    <thead>
        <tr>
            <th scope="col">Наименование документа</th>
            <th scope="col">Дата загрузки документа</th>
            <th scope="col">Испольнитель</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Item in Documents)
        {
            <tr>
                <th scope="row">@Item.CourtDocumentScansName</th>
                <td>@Item.DocumentDateUpload</td>
                <td>@Item.Executor</td>
                <td>
                    <a href="/Court/DownloadFile?Id=@Item.Id">Скачать</a>
                    <a class="DeleteDocument" name="@Item.Id" style="color:red; cursor:pointer">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function (e) {
        $(".DeleteDocument").click(function (e) {
            $.ajax({
                url: "/Court/DeleteFile?Id=" + $(".DeleteDocument").attr("name"),
                type: "Get",
                success: function (data) {
                    $(".loader").addClass("hidden");
                    UpdateDocuments();
                    $("#AddDocCourt").prop('hidden', false);

                },
                error: function (data) {
                    alert('Ошибка обратитесь к системному администратору!');
                    $(".loader").addClass("hidden");
                    $("#AddDocCourt").prop('hidden', false);
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });
    })
</script>

