@model DB.Model.Court.CourtGeneralInformation

<!-- Include stylesheet -->
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.5/dist/quill.snow.css" rel="stylesheet" />


<br />
<!-- Create the editor container -->
<div id="editor">
</div>

<!-- Include the Quill library -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.5/dist/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
    const quill = new Quill('#editor', {
        theme: 'snow'
    });
</script>
<script>
    var toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],
        ['blockquote', 'code-block'],
        [{ 'header': 1 }, { 'header': 2 }],
        [{ 'list': 'ordered' }, { 'list': 'bullet' }],
        [{ 'script': 'sub' }, { 'script': 'super' }],
        [{ 'indent': '-1' }, { 'indent': '+1' }],
        [{ 'direction': 'rtl' }],
        [{ 'size': ['small', false, 'large', 'huge'] }],
        ['link', 'image', 'video', 'formula'],
        [{ 'color': [] }, { 'background': [] }],
        [{ 'font': [] }],
        [{ 'align': [] }]
    ];
    var options = {
        debug: 'info',
        modules: {
            toolbar: toolbarOptions
        },
        placeholder: 'Введите текст',
        readOnly: false,
        theme: 'snow'
    };
    var editor = new Quill('#editor', options);
    //editor.insertText(0, 'Hello', 'bold', true);//set init value
</script>


<input type="button" id="SaveCourtNote" value="Сохранить" class="btn btn-success" />
<script>

$(document).ready(function () {
    $("#SaveCourtNote").click(function (e) {
        var html = editor.root.innerHTML;
        $.ajax({
            url: '/Court/SaveNote?Id=@Model.Id&Lic=@Model.Lic',
            type: 'POST',
            data: JSON.stringify({
                Note: html
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                window.location.reload();
            },
            error: function () {
                alert("Что то пошло не так. Обратитесь к администратору");
            }
        });
    });
    $("#CourtNoteButton").click(function (e) {
        $.ajax({
            url: '/Court/GetNote?Id=@Model.Id&Lic=@Model.Lic',
            type: 'GET',
            success: function (data) {
                editor.root.innerHTML = data;
            },
            error: function () {
                alert("Что то пошло не так. Обратитесь к администратору");
            }
        });
    });
})
</script>