@model DB.Model.Court.CourtGeneralInformation
<h2>Госпошлина</h2>
<div class="row">
    <div class="col-md-4">
        <label class="col-sm-12 col-form-label">Дата направления на возврат г/п в ФНС:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtStateDuty.DateSendOnReturnFNS, new { @type = "Date", @readonly = "readonly", @class = "form-control", 
           @Value = (Model.CourtStateDuty.DateSendOnReturnFNS.HasValue ? Model.CourtStateDuty.DateSendOnReturnFNS.Value.ToString("yyyy-MM-dd") : string.Empty)
       })
        </div>
        <label class="col-sm-12 col-form-label">Дата возврата заявления ФНС:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtStateDuty.DateReturnFNS, new { @type = "Date", @readonly = "readonly", @class = "form-control", 
           @Value = (Model.CourtStateDuty.DateReturnFNS.HasValue ? Model.CourtStateDuty.DateReturnFNS.Value.ToString("yyyy-MM-dd") : string.Empty)
       })
        </div>
        <label class="col-sm-12 col-form-label">Причина возврата заявления ФНС:</label>
        <div class="col-sm-8">
            @Html.TextAreaFor(m => m.CourtStateDuty.ReasonReturn, new {
           @style = "width: 300px !important; height: 80px !important;",
           @readonly = "readonly", @dicId = "16", @class = "form-control DictionaryAutoComplete", @Value = Model.CourtStateDuty.ReasonReturn })
        </div>
        <label class="col-sm-12 col-form-label">Примечание:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtStateDuty.Comment, new { @readonly = "readonly", @class = "form-control", @Value = Model.CourtStateDuty.Comment })
        </div>
    </div>
</div>

