
@{
    ViewBag.Title = "Serach";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<style>
    .nav > li > a:hover,
    .nav > li > a:focus {
        text-decoration: none;
        background-color: #043e6e !important;
    }
</style>

<div class="loader">
    <div class="inner one"></div>
    <div class="inner two"></div>
    <div class="inner three"></div>
</div>

<div class="col-md-1">
    <div id="mySidenavPersonalData" class="sidenav">
        <ul class="nav nav-tabs">
            @if (User.IsInRole(BE.Roles.RolesEnums.SuperAdmin) || User.IsInRole(BE.Roles.RolesEnums.CourtAdmin) || User.IsInRole(BE.Roles.RolesEnums.CourtSuperAdmin))
            {
                <li class="nav-item">
                    <a style="cursor:pointer" class="nav-link Note" href="/Court/AdminPanel">Админ панель</a>
                </li>
            }
        </ul>
    </div>
</div>


<h1 class="page-header"></h1>
<div class="container">
    <div class="row">
        <div class="col-md-2 text-center">
            <label for="">номер лицевого счета</label>
            <div class="input-group">
                <input type="number" class="form-control" id="Lic" placeholder="">
                <span id="" class="input-group-addon clear">X</span>
            </div>
        </div>

        <div class="col-md-2 text-center">
            <label for="">Улица</label>
            <div class="input-group">
                <input type="text" class="form-control" id="Street" placeholder="">
                <span id="" class="input-group-addon clear">X</span>
            </div>
        </div>
        <div class=" col-md-2 text-center">
            <label for="">Дом</label>
            <div class="input-group">
                <input type="text" class="form-control" id="Home" placeholder="">
                <span id="clear" class="input-group-addon clear">X</span>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <label for="">Квартира</label>
            <div class="input-group">
                <input type="text" class="form-control" id="Flat" placeholder="">
                <span id="" class="input-group-addon clear">X</span>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <label for="">ФИО</label>
            <div class="input-group">
                <input type="text" class="form-control" id="FullName" placeholder="">
                <span id="" class="input-group-addon clear">X</span>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <label for="">Номер СП</label>
            <div class="input-group">
                <input type="text" class="form-control" id="NumberSp" placeholder="">
                <span id="" class="input-group-addon clear">X</span>
            </div>
            <a id="ClearFilter" href="">Очистить фильтр</a>
        </div>

        <div class="col-md-2 text-center">
            <label for="">Номер ИЛ</label>
            <div class="input-group">
                <input type="text" class="form-control" id="NumberIl" placeholder="">
                <span id="" class="input-group-addon clear">X</span>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <label for="">Номер ИП</label>
            <div class="input-group">
                <input type="text" class="form-control" id="NumberIp" placeholder="">
                <span id="" class="input-group-addon clear">X</span>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <label for="">Номер карточки дела</label>
            <div class="input-group">
                <input type="text" class="form-control" id="NumberCard" placeholder="">
                <span id="" class="input-group-addon clear">X</span>
            </div>
        </div>

        @*<a id="ClearFilter" href="">Очистить фильтр</a>*@
        <div class="col-md-1">
            <input type="button" style="margin-top:25px;" class="btn btn-success btn-block" value="Найти" id="Search" placeholder="Password">
        </div>
        <div class="col-md-1">
            <button style="margin-top:25px;" id="AddCourt" class="btn btn-primary">Создать судебное дело</button>
        </div>
    </div>
</div>
<h1 class="page-header">Результаты поиска</h1>
<div id="ResultSearchCourt"></div>



<script>
    function SearchCourt() {
        $(".loader").removeClass("hidden");
        $.ajax({
            url: '/Court/SearchResult',
            type: 'POST',
            data: JSON.stringify({
                searchModel: {//missing brackets
                    Id: $("#NumberCard").val(),
                    Lic: $("#Lic").val(),
                    FullName: $("#FullName").val(),
                    Street: $("#Street").val(),
                    Home: $("#Home").val(),
                    Flat: $("#Flat").val(),
                    NumberIp: $("#NumberIp").val(),
                    NumberIl: $("#NumberIl").val(),
                    NumberSp: $("#NumberSp").val()
                }
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#ResultSearchCourt").empty();
                $("#ResultSearchCourt").append(data);
                $(".loader").addClass("hidden");
            },
            error: function () {
                $(".loader").addClass("hidden");
                alert("Что то пошло не так. Обратитесь к администратору");
            }
        });
    }
    function Call() {
        console.log($('.FullLic').val()[0]);
        if ($('.FullLic').val()[0] == '7') {
            alert('Создать карточку судебного дела лицевого счета № 7… можно из Биллинга-> Лицевой счет-> Судебные дела-> Создать');
            $('.FullLic').val('');
        }
    }
    $(document).ready(function (e) {
        $(".loader").addClass("hidden");
        $("#AddCourt").click(function (e) {
            $.confirm({
                title: 'Создание судебного дела',
                content: '' +
                    '<form action="" class="formName">' +
                    '<div class="form-group">' +
                    '<label>Лицевой счет</label>' +
                    '<input type="number" onkeyup="Call()" placeholder="" id="FullLic" class="form-control FullLic" />' +
                    '</form>',
                buttons: {
                    '<input type="button" class="btn btn-primary" value="Создать" data-toggle="modal" data-target="#ShowLogResultModal" />': function () {
                        let lic = !$('.FullLic').val().startsWith('8');
                        console.log(lic);
                        if (!$('.FullLic').val().startsWith('5') && !$('.FullLic').val().startsWith('8') && !$('.FullLic').val().startsWith('158')) {
                            alert('Номер лицевого счета должен начинаться с цифры 8 или 158');
                            $('.FullLic').val('');
                            $("#AddCourt").click();
                            return;
                        }
                        if ($('.FullLic').val().length != 9) {
                            alert('Номер лицевого счета должен содержать 9 символов');
                            $('.FullLic').val('');
                            $("#AddCourt").click();
                            return;
                        }
                        window.open('/Court/CreateCourt?FullLic=' + $("#FullLic").val(), "_blank");
                    },
                    "Отмена": function () {

                    }
                }
            })

        });


        $("#Lic").keyup(function () {
            if ($("#Lic").val().length > 4) {
                SearchCourt();
            }
        })
        $("#ClearFilter").click(function () {
            $(this).find('input').val('');
        })
        $(".clear").click(function () {
            $(this).parent().find('input').val('');
        })
        $("#NumberIl").keyup(function () {
            if ($("#NumberIl").val().length > 4) {
                SearchCourt();
            }
        })
        $("#NumberSp").keyup(function () {
            if ($("#NumberSp").val().length > 4) {
                SearchCourt();
            }
        })
        $("#NumberIp").keyup(function () {
            if ($("#NumberIp").val().length > 4) {
                SearchCourt();
            }
        })
        $("#Street").keyup(function () {
            if ($("#Street").val().length > 4) {
                SearchCourt();
            }
        })
        $("#FullName").keyup(function () {
            if ($("#FullName").val().length > 4) {
                SearchCourt();
            }
        })
        $("#Home").keyup(function () {
            if ($("#Home").val().length > 1) {
                SearchCourt();
            }
        })
        $("#Flat").keyup(function () {
            if ($("#Flat").val().length > 0) {
                SearchCourt();
            }
        })
        $("#NumberCard").keyup(function () {
            if ($("#NumberCard").val().length > 0) {
                SearchCourt();
            }
        })
        var i = 0;


        $("#Search").click(function () {
            SearchCourt();
        });
        $(document).on('keypress', function (e) {
            if (e.which == 13) {
                SearchCourt();
            }
        });
    });
</script>
