
    <dl class="dl-horizontal">
        <dt>Установить/Снять блокировку для:</dt>
        <dd>
            <a href="/Account/LockAction?Page=DetailedInformIPU">Страница детальной информации</a>
        </dd>
        <dd>
            Статус блокировки @if (ViewBag.StatusDetailedInformIPU)
            {

                <p class="NullOrEmpty">Заблокирована</p>}
            else
            { <p class="">Не заблокирована</p>}
        </dd>
        <dt>Установить/Снять блокировку для:</dt>
        <dd>
            <a href="/Account/LockAction?Page=DetailedInformPersData">Страница персональных данных</a>
        </dd>
        <dd>
            Статус блокировки @if (ViewBag.DetailedInformPersData)
            {

                <p class="NullOrEmpty">Заблокирована</p>}
            else
            { <p class="">Не заблокирована</p>}
        </dd>
    </dl>

