<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogLevel="Trace"
      internalLogFile="..\..\..\Logs\nlog-app.log">
	<!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
	<targets>
		<!-- file targets -->
		<target name="asyncFile" xsi:type="AsyncWrapper">
			<target xsi:type="File" name="f" fileName="${basedir}/Logs/log_${shortdate}.log"
				  layout="${longdate} ${uppercase:${level}} ${message} ${aspnet-user-identity}"/>
		</target>
		<target name="asyncFileCourt" xsi:type="AsyncWrapper">
			<target xsi:type="File" name="f" fileName="${basedir}/Logs/log_court_${shortdate}.log"
				  layout="${longdate} ${uppercase:${level}} ${message} ${aspnet-user-identity}"/>
		</target>
		<target name="asyncFileTrace" xsi:type="AsyncWrapper">
			<target xsi:type="File" name="f" fileName="${basedir}/Logs/log_court_trace_model_${shortdate}.log"
				  layout="${longdate} ${uppercase:${level}} ${message} ${aspnet-user-identity}"/>
		</target>
		<target name="asyncFileError" xsi:type="AsyncWrapper">
			<target xsi:type="File" name="f" fileName="${basedir}/Logs/Error_${shortdate}.log"
				  layout="${longdate} ${uppercase:${level}} ${message} ${aspnet-user-identity}"/>
		</target>

	</targets>
	<rules>
		<!-- add your logging rules here 
		<logger name="*" minlevel="Info" writeTo="asyncFile" />-->
		<logger name="*" minlevel="Error" writeTo="asyncFileError" />
		<logger name="*" levels="Debug,Warn,Info" writeTo="asyncFile" />
		<logger name="RKC.Controllers.CourtController" levels="Warn,Info" writeTo="asyncFileCourt" />
		<logger name="RKC.Controllers.CourtController" levels="Trace" writeTo="asyncFileTrace" />
	</rules>
</nlog>