<div class="modal fade" id="ShowAllDocumentModal" tabindex="-1" role="dialog" aria-labelledby="ShowAllDocumentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Лог по лицевому счету @Model.FirstOrDefault().Lic</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
               <textarea id="LogResult" placeholder="Резлуьтат работы" ></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

    })
</script>
