@model DB.Model.ALL_LICS
@{
    ViewBag.Title = "GetNoteAllLic";
}

<div class="modal fade" id="ShowNoteAllicModal" tabindex="-1" role="dialog" aria-labelledby="ShowNoteAllicModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Примечание</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
               <p style="white-space:break-spaces" >@Model.PRIM</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

