@model IEnumerable<string>
@{
    ViewBag.Title = "ShwoReceipt";
}
<style>
    /*.table-cont {
        max-height: 500px;
        overflow-x: auto;
    }*/

    /* body {
        font-size: 11px;
    }*/

    /*.container {
        width: 95% !important;
    }*/
    /* .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 3px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }*/
</style>
<div style="position:absolute; margin-left: -100px" >
    <button class="btn btn-primary" style="position:fixed" id="Back">Назад</button>
</div>
<div class="row">
    @if(Model.All(x=>x == ""))
    {
        <div class="text-center" >
            <h3>Ничего нет за выбранный период</h3>
        </div>
    }
    @foreach (var Item in Model)
    {
        if (!string.IsNullOrEmpty(Item))
        {
            <div class="col-md-8 justify-content-center">
                <div class="table-bordered">
                    @Html.Raw((String)Item)
                </div>
            </div>
        }
    }
</div>

<script>
    $(document).ready(function () {
        $("#Back").click(function (e) {
            history.back();
        })
    })
</script>
