@model IEnumerable<BE.Admin.UserRoleInfo>
@{
    ViewBag.Title = "GetUserRoleInfo";
}

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ФИО</th>
                <th scope="col">Роль</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Items in Model)
            {
                <tr>
                    <td>@Items.UserFio</td>
                    <td>@Items.UserRole</td>
                    <td><button name="@Items.UserId;@Items.UserRoleId" class="btn btn-danger DeleteUserRole">Удалить</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function (e) {
        $(".DeleteUserRole").click(function (e) {
            var User = $(this).attr('name').split(';');
            var UserId = User[0];
            var UserRoleId = User[1];
            $.ajax({
                url: '/Admin/DeleteRole?UserId=' + UserId + '&UserRoleId=' + UserRoleId,
                success: function (data) {
                    alert(data);
                    $("#SearchRole").click();
                },
                error: function () {
                    alert("Что то пошло не так. Обратитесь к администратору!");
                }
            });
        })
    });
</script>

